@font-face {
    font-family: "TTTravels-Bold";
    src: url("/fonts/TTTravels-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "TTTravels-ExtraBold";
    src: url("/fonts/TTTravels-ExtraBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "TTTravels-Light";
    src: url("/fonts/TTTravels-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "TTTravels-Medium";
    src: url("/fonts/TTTravels-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "TTTravels-Regular";
    src: url("/fonts/TTTravels-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Acrom-Thin";
    src: url("/fonts/fontsAcrom-Thin.ttf");
    font-display: swap;
}